.cardHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherCard {
    width: 16%;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* outline-style: solid;
    outline-color:grey; */
}

.image img {
    width: 100%;
    height: auto;
}

/* .content {
    padding: 6px;
} */

.container {
    padding-top: 36px !important;
}