* {
    color: #fff;
}

body {
    background-image: linear-gradient(#5c69f2, #8fb7f3);
}

.cardHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherCard {
    width: 16%;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #8fb7f3;
}

.image {
    background-color: none;
}

.image img {
    width: 100%;
    height: auto;
}

/* .content {
    padding: 6px;
} */

.container {
    padding-top: 36px !important;
}